
.form-control.no-validate-color:valid {
    border-color: #ced4da;
    padding-right: .75rem;
    background: none;
    width: 52px;
}

.remove-meeting-btn {
    cursor: pointer;
    color:rgb(18, 107, 240);
}

.remove-meeting-btn:hover {
    cursor: pointer;
    color:rgb(255, 38, 38);
}

.hidden {
    display: none;
}

.disabled-input {
    pointer-events: none;
    opacity: 1;
}

.checked-item {
    text-decoration: line-through;
    color: rgb(109, 109, 109);
}