{% extends "planner/base.html" %}

{% load widget_tweaks %}

{% block title %}New Tracking Block{% endblock %}

{% block header %}
{% include "planner/subtemplates/header.html" with page="new_block" %}
{% endblock %}


{% block body %}

<!-- form -->
<form action="#" method="POST" class="container-sm mx-auto needs-validation" style="max-width:800px;" novalidate>
    {% csrf_token %}

    <h2 class="my-3">New Tracking Block</h2>

    <!-- General information -->
    <div class="col-12 mb-3">
        <label for="{{ form.name.id_for_label }}" class="form-label">{{ form.name.label }}</label>
        {% render_field form.name class="form-control" %}
        {% include "planner/subtemplates/form_errors.html" with field=form.name %}
        <div class="invalid-feedback">Please choose a name.</div>
    </div>

    <div class="row">
        <div class="col-6 mb-3">
            <label for="{{ form.start_date.id_for_label }}" class="form-label">{{ form.start_date.label }}</label>
            {% render_field form.start_date class="form-control" type="date" %}
            {% include "planner/subtemplates/form_errors.html" with field=form.start_date %}
            <div class="invalid-feedback">Please choose a start date for recurring events.</div>
        </div>

        <div class="col-6 mb-3">
            <label for="{{ form.end_date.id_for_label }}" class="form-label">{{ form.end_date.label }}</label>
            {% render_field form.end_date class="form-control" type="date" %}
            {% include "planner/subtemplates/form_errors.html" with field=form.end_date %}
            <div class="invalid-feedback">Please choose a end date for recurring events.</div>
        </div>
    </div>

    <!-- <div class="col-12 mb-3">
        <label for="colorInput1" class="form-label">Choose a Color</label>
        <input type="color" class="form-control form-control-color" id="colorInput1" value="#563d7c" title="Choose a color for the event">
    </div> -->
    
    <!-- placeholder for everything else -->
    <div id="form-placement">

        <!-- Example... -->
        <div class="card my-3">
            <div class="card-body">
                <h5 class="card-title">Event 1</h5>
                
                <div class="row">
                    <div class="col-10 mb-3">
                        <label for="id_name1" class="form-label">Name</label>
                        <input type="text" name="name1" class="form-control" required id="id_name1">
                    
                        <div class="invalid-feedback">Please choose a name.</div>
                    </div>
                    
                    <div class="col mb-3">
                        <div class="position-relative">
                            <div class="position-absolute top-0 end-0">
                                <label for="colorInput1" class="form-label">Color</label>
                                <input type="color" class="form-control no-validate-color form-control-color" id="colorInput1" value="#563d7c" title="Choose a color for the event">
                            </div>
                        </div>
                    </div>
                </div>
                

                <!-- User should be able to create a lot of these.  -->
                <div class="row mb-3">
                    <div class="col-6">
                        <label for="id_start_time1" class="form-label">Start time</label>
                        <input type="time" name="start_time1" class="form-control" required id="id_start_time1">
                        
                        <div class="invalid-feedback">Please select a start time.</div>
                    </div>

                    <div class="col-6">
                        <label for="id_end_time1" class="form-label">End time</label>
                        <input type="time" name="end_time1" class="form-control" required id="id_end_time1">
                        
                        <div class="invalid-feedback">Please select a start time.</div>
                    </div>
                </div>

                <div class="col-12 mb-3" id="buttons">
                    <label for="id_mon1" class="form-label">Days</label><br>
            
                    <input type="checkbox" name="mon1" autocomplete="off" class="btn-check" id="id_mon1">
                    <label class="btn btn-outline-secondary" for="id_mon1">M</label>

                    <input type="checkbox" name="tues1" autocomplete="off" class="btn-check" id="id_tues1">
                    <label class="btn btn-outline-secondary" for="id_tues1">T</label>

                    <input type="checkbox" name="wed1" autocomplete="off" class="btn-check" id="id_wed1">
                    <label class="btn btn-outline-secondary" for="id_wed1">W</label>

                    <input type="checkbox" name="thurs1" autocomplete="off" class="btn-check" id="id_thurs1">
                    <label class="btn btn-outline-secondary" for="id_thurs1">Th</label>

                    <input type="checkbox" name="fri1" autocomplete="off" class="btn-check" id="id_fri1">
                    <label class="btn btn-outline-secondary" for="id_fri1">F</label>

                    <input type="checkbox" name="sat1" autocomplete="off" class="btn-check" id="id_sat1">
                    <label class="btn btn-outline-secondary" for="id_sat1">Sa</label>

                    <input type="checkbox" name="sun1" autocomplete="off" class="btn-check" id="id_sun1">
                    <label class="btn btn-outline-secondary" for="id_sun1">Su</label>
                    
                </div>

                <!-- Optional location field -->
                <div class="col-12 mb-3">
                    <label for="id_location1" class="form-label">Location</label>
                    <input type="text" name="location1" class="form-control" id="id_location1">
                </div>
                

            </div>
        </div>


    </div>

    <!-- Button to add new events -->
    <div class="card my-3">
        <div class="card-body text-center">
            <button class="btn btn-secondary"><i class="bi bi-plus-lg"></i></button>
        </div>
    </div>

    <!-- Submit -->
    <button class="btn btn-success">Submit</button>
</form>


<script>
    // Example starter JavaScript for disabling form submissions if there are invalid fields
    (() => {
      'use strict'
    
      // Fetch all the forms we want to apply custom Bootstrap validation styles to
      const forms = document.querySelectorAll('.needs-validation')
    
      // Loop over them and prevent submission
      Array.from(forms).forEach(form => {
        form.addEventListener('submit', event => {
          if (!form.checkValidity()) {
            event.preventDefault()
            event.stopPropagation()
          }
    
          form.classList.add('was-validated')
        }, false)
      })
    })()
</script>

{% endblock %}

