{% extends "planner/base.html" %}

{% block title %}Timer{% endblock %}

{% block header %}
{% include "planner/subtemplates/header.html" with page="timer" %}
{% endblock %}

{% block body %}
<div class="container-sm" style="max-width:800px;">

    <div class="mb-5 mt-2">
        <h2>Profile</h2>
        <hr>
        
        <div class="row">
            <div class="col-md-auto">
                <img src="{{ request.session.picture }}" alt="User profile picture">
            </div>
            <div class="col">
                <p><strong>{{ request.user.first_name }} {{ request.user.last_name }}</strong></p>
                <p>{{ request.user.email }} </p>
                <a class='btn btn-primary' href="{% url 'logout' %}">Sign Out</a>
            </div>

        </div>
    </div>
    

    <div class="my-5">
        <h2>Settings</h2>
        <hr>

        <h5>Active Timer</h5>

        <div class="row g-1">
            <div class="col-md-9">
                <select class="form-select" aria-label="Default select example">
                    <option selected>Open this select menu</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                </select>
            </div>
            <div class="col-md">
                <div class="position-relative">
                    <div class="position-absolute top-0 end-0" style="white-space: nowrap;">
                        <a href="#" class="btn btn-primary" id="new-block-btn"><i class="bi bi-pencil-square"></i> Edit</a>
                        <a href="{% url 'new-tracking-block' %}" class="btn btn-primary" id="edit-block-btn"><i class="bi bi-file-earmark-plus"></i> New</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="my-3">
            <h5>Timezone</h5>
            <div>
                <div class="input-group" id="set-timezone-group">
                    <button class="btn btn-outline-secondary" type="button" id="set-timezone-btn" onclick="set_timezone()">Update Timezone</button>
                    <input class="form-control disabled-input" tabindex="-1" aria-describedby="set-timezone-btn">
                </div>
            </div>
        </div>
    

        <div class="d-grid gap-2">
            <button class="btn btn-success">Save Settings</button>
        </div>

    </div>

</div>
{% endblock %}