{% extends "planner/base.html" %}

{% block title %}Schedule{% endblock %}

{% block header %}
{% include "planner/subtemplates/header.html" with page="schedule" %}
{% endblock %}


{% block scripts %}
    <script src="/static/fullcalendar-6.0.0/dist/index.global.js"></script>
    <script src="../../static/planner/schedule.js"></script>
{% endblock %}

{% block body %}
<div id="schedule-errors"></div>

<!-- Modal -->
<div class="modal fade" id="info-modal" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5">Information</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body">
                <form action="{% url 'stop-timer' %}" method="POST" id="modal-response-form">
                    {% csrf_token %}
                </form>

                <div>
                    <div>
                        <p><strong>Start: </strong><span id="schedule-modal-start"></span></p>
                        <p><strong>End: </strong><span id="schedule-modal-end"></span></p>
                    </div>
                    
                    <div>
                        <span id="schedule-modal-info"></span>
                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-success" onclick="delete_timer();">Edit</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Ok</button>
            </div>
        </div>
    </div>
</div>

<!-- off canvas -->
<div class="offcanvas offcanvas-start" data-bs-scroll="true" data-bs-backdrop="false" tabindex="-1" id="offcanvasScrolling"s>
    <div class="offcanvas-header">
      <h5 class="offcanvas-title" id="offcanvasScrollingLabel">Offcanvas with body scrolling</h5>
      <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
      <p>Try scrolling the rest of the page to see this option in action.</p>
    </div>
</div>

<div class="container-sm mt-3">
    <div id='calendar'></div>
</div>




{% endblock %}