{% extends "planner/base.html" %}

{% block title %}Timer{% endblock %}

{% block scripts %}
<script src="../../static/planner/timer.js"></script>
{% endblock %}

{% block header %}
{% include "planner/subtemplates/header.html" with page="timer" %}
{% endblock %}

{% block body %}
<div class="container-sm" style="max-width:800px;">

    <h2 class="mt-3">Timers</h2>

    <div id="timer-errors"></div>

    <div class="row g-1">
        <div class="col-md-9">

            <div class="input-group">
                <span class="input-group-text" id="basic-addon">Tracking Block</span>
                <input disabled type="text" class="form-control" id="current-tracking-block" aria-describedby="basic-addon" style="background-color:white"
                    {% if curr_block %} value="{{ curr_block.name }}" {% else %} value="---" {% endif %}
                >
            </div>

        </div>
        <div class="col-md">
            <div class="position-relative">
                <div class="position-absolute top-0 end-0" style="white-space: nowrap;">
                    {% if curr_block %}
                    <a href="#" class="btn btn-primary" id="new-block-btn"><i class="bi bi-pencil-square"></i> Edit</a>
                    {% else %}
                        <button disabled class="btn btn-primary" id="new-block-btn"><i class="bi bi-pencil-square"></i> Edit</button>
                    {% endif %}
                    <a href="{% url 'new-tracking-block' %}" class="btn btn-primary" id="edit-block-btn"><i class="bi bi-file-earmark-plus"></i> New</a>
                </div>
            </div>
        </div>
    </div>

    
    <!-- Modal -->
    <div class="modal fade" id="duration-confirmation-modal" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5">Confirm Duration</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>

                <div class="modal-body">
                    <form action="{% url 'stop-timer' %}" method="POST" id="modal-response-form">
                        {% csrf_token %}
                    </form>

                    <label for="modal-start-times">Start Time</label>
                    <div class="row" id="modal-start-times" class="mb-3">
                        <div class="col">
                            <input type="date" class="form-control" id="modal-start-date">
                        </div>
                        <div class="col">
                            <input type="time" class="form-control" id="modal-start-time">
                        </div>
                    </div>

                    <label for="modal-end-times" class="mt-3">End Time</label>
                    <div class="row" id="modal-end-times">
                        <div class="col">
                            <input type="date" class="form-control" id="modal-end-date">
                        </div>
                        <div class="col">
                            <input type="time" class="form-control" id="modal-end-time">
                        </div>
                    </div>

                    <label for="modal-description" class="mt-3">Description</label>
                    <input type="text" id="modal-description" class="form-control">
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" onclick="delete_timer();">Delete</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-success" onclick="save_timer();">Save</button>
                </div>
            </div>
        </div>
    </div>


    {% if curr_block %}
        <div id="event-cards" class="mt-5" 
            data-current-block="{{ current_tracked_ev }}"
            data-current-length="{{ current_length }}"
            >
            {% for event in events %}
                <div class="card mb-2">
                    <div class="card-body">
                        <h5 class="card-title">{{ event.name }}</h5>

                        <div class="row">
                            <div class="col">
                                {% for todo in event.todo_list.all %}
                                    {% if todo.finished %}
                                        <input type="checkbox" id="todo{{ todo.id }}" data-id="{{ todo.id }}" class="form-control" checked>
                                        <label for="todo{{ todo.id }}">{{ todo.contents }}</label>
                                    {% else %}
                                        <input type="checkbox" id="todo{{ todo.id }}" data-id="{{ todo.id }}" class="form-control">
                                        <label for="todo{{ todo.id }}">{{ todo.contents }}</label>
                                    {% endif %}
                                    
                                {% endfor %}
                                <input type="text" id="new_todo_{{ todo.id }}" class="form-control">
                                <button class="btn btn-primary">Add</button>
                            </div>

                            <!-- Timer + buttons.  -->
                            <div class="col" id="event-timer-{{ event.id }}">

                                <div id="end-timer-div-{{ event.id }}"
                                    {% if not event.currently_tracking %} class="hidden" {% endif %}>

                                    <button id="end-timer-{{ event.id }}"
                                            class="btn btn-danger end-btn"
                                            onclick="end_timer({{ event.id }}); return false;">End Session
                                    </button>

                                    <div class="card-text">
                                        Elapsed time: <span id="elapsed-time-{{ event.id }}">0</span>
                                    </div>
                                </div>

                                <div id="start-timer-div-{{ event.id }}"
                                    {% if event.currently_tracking %} class="hidden" {% endif %}>

                                    <button id="start-timer-{{ event.id }}" 
                                            class="btn btn-success start-btn" 
                                            onclick="start_timer({{ event.id }}); return false;">Start a session
                                    </button>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <!-- No tracking blocks (yet) -->
        <div id="event-cards" class="mt-5">
            <div class="card mb-2">
                <div class="card-body">
                    <h5 class="card-title">No tracking blocks found</h5>
                    <p class="card-text">Create a new tracking block to see it here.</p>
                </div>
            </div>
        </div>
    {% endif %}

</div>
{% endblock %}