{% extends "planner/base.html" %}

{% block title %}Timer{% endblock %}

{% block scripts %}
<script src="../../static/planner/timer.js"></script>
{% endblock %}

{% block header %}
{% include "planner/subtemplates/header.html" with page="timer" %}
{% endblock %}

{% block body %}
<div class="container-sm" style="max-width:800px;">

    <h2 class="mt-3">Timers</h2>

    <div id="timer-errors"></div>

    <div class="row g-1">
        <div class="col-md-9">

            <div class="input-group">
                <span class="input-group-text" id="basic-addon">Tracking Block</span>
                <input disabled type="text" class="form-control" id="current-tracking-block" aria-describedby="basic-addon" style="background-color:white"
                    {% if curr_block %} value="{{ curr_block.name }}" {% else %} value="---" {% endif %}
                >
            </div>

        </div>
        <div class="col-md">
            <div class="position-relative">
                <div class="position-absolute top-0 end-0" style="white-space: nowrap;">
                    {% if curr_block %}
                    <a href="#" class="btn btn-primary" id="new-block-btn"><i class="bi bi-pencil-square"></i> Edit</a>
                    {% else %}
                        <button disabled class="btn btn-primary" id="new-block-btn"><i class="bi bi-pencil-square"></i> Edit</button>
                    {% endif %}
                    <a href="{% url 'new-tracking-block' %}" class="btn btn-primary" id="edit-block-btn"><i class="bi bi-file-earmark-plus"></i> New</a>
                </div>
            </div>
        </div>
    </div>


    {% if curr_block %}
        <!-- Placeholder -->
        <div id="event-cards" class="mt-5">
            {% for event in events %}
                <div class="card mb-2">
                    <div class="card-body">
                        <h5 class="card-title">{{ event.name }}</h5>

                        <div class="row">
                            <div class="col">
                                {% for todo in event.todo_list.all %}
                                    {% if todo.finished %}
                                        <input type="checkbox" id="todo{{ todo.id }}" data-id="{{ todo.id }}" checked>
                                        <label for="todo{{ todo.id }}">{{ todo.contents }}</label>
                                    {% else %}
                                        <input type="checkbox" id="todo{{ todo.id }}" data-id="{{ todo.id }}">
                                        <label for="todo{{ todo.id }}">{{ todo.contents }}</label>
                                    {% endif %}
                                    
                                {% endfor %}
                                <input type="text" id="new_todo_{{ todo.id }}">
                                <button class="btn btn-primary">Add</button>
                            </div>

                            <!-- Timer + buttons.  -->
                            <div class="col" id="event-timer-{{ event.id }}">

                                <div id="end-timer-div-{{ event.id }}"
                                    {% if not event.currently_tracking %} class="hidden" {% endif %}>

                                    <button id="end-timer-{{ event.id }}"
                                            class="btn btn-danger end-btn"
                                            onclick="endd_timer({{ event.id }}); return false;">End Session
                                    </button>

                                    <div class="card-text">
                                        Elapsed time: <span id="elapsed-time-{{ event.id }}">0</span>
                                    </div>
                                </div>

                                <div id="start-timer-div-{{ event.id }}"
                                    {% if event.currently_tracking %} class="hidden" {% endif %}>

                                    <button id="start-timer-{{ event.id }}" 
                                            class="btn btn-success start-btn" 
                                            onclick="start_timer({{ event.id }}); return false;">Start a session
                                    </button>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <!-- No tracking blocks (yet) -->
        <div id="event-cards" class="mt-5">
            <div class="card mb-2">
                <div class="card-body">
                    <h5 class="card-title">No tracking blocks found</h5>
                    <p class="card-text">Create a new tracking block to see it here.</p>
                </div>
            </div>
        </div>
    {% endif %}

    

</div>
{% endblock %}